{% extends 'base.html' %}
{% block title %} Cart {% endblock %}
{% block content %}
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black">Корзина</h1>
                                        </div>

                                        {% for item in items %}

                                                <hr class="my-4">
                                                <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                                        <img src="https://asialedspartnership.org/default/image/default-image.jpg" class="img-fluid rounded-3">
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-3">Название:

                                                        <h6 class="text-black mb-0"> {{ item.item.name }}</h6>
                                                    </div>
                                                    <div class="col-md-5 col-lg-3 col-xl-2 d-flex">
                                                        Кол-во:
                                                        1
                                                    </div>
                                                    <div class="col-md-5 col-lg-3 col-xl-3 offset-lg-1">
                                                        Цена:
                                                        <h6 class="mb-0">{{ item.item.price }}</h6>
                                                    </div>

                                                </div>
                                        {% endfor %}
                                        <hr class="my-4">

                                    </div>
                                </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Общая сумма</h3>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text">Товаров в корзине: {{ item }}</h5>
                                        </div>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Итого</h5>
                                            <h5>{{ total }} </h5>
                                        </div>
                                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                                              action="" method="POST">
                                            {% include 'partial/add_edit.html' with button_text='Оформить заказ' %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}