<div class="row row-cols-lg-auto g-3 justify-content-center mb-4 pb-2">


            {% if page_obj.has_previous %}
                <span class=""><a class='text-decoration-none' href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">Назад</a></span>
            {% else %}
                <span class="page-disabled text-muted">Назад</span>
            {% endif %}
            <td><form class=" current-page" method="get">
                <label for="page">
                    Страница {{ page_obj.number }}
                    из {{ page_obj.paginator.num_pages }}
                </label>
            </form></td>
            {% if page_obj.has_next %}
                <span class="text-decoration-none"><a class='text-decoration-none' href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Далее</a></span>
            {% else %}
                <span  class=" page-disabled text-muted">Далее</span>
            {% endif %}


</div>